.sapUiDlg {
	background-color: @sapUiMediumBG;
	border: 1px solid @sapUiMediumBorder;
	-moz-box-shadow: inset 0 0 1px 1px white, @sapUiShadow;
	-webkit-box-shadow: inset 0 0 1px 1px white, @sapUiShadow;
	box-shadow: inset 0 0 1px 1px white, @sapUiShadow;
}

.sapUiDlgHdr {
	background-image: url(img/dialog/DlgT.gif);
	background-repeat: repeat-x;
	border-color: @sapUiMediumBG white;
	border-style: solid;
	border-width: 1px 1px 0;
	height: 19px;
	color: @sapUiTextTitle;
	margin: 0;
	padding-top: 6px;
}

.sapUiDlgHdr > .sapUiDlgHdrLeft > span {
	margin: 6px 4px 0 16px;
}

.sapUiDlgHdrBtns {
	right: 6px;
	top: 1px;
}

.sapUiDlgCloseBtn {
	background-image: url(img/dialog/DlgClose.gif);
	width: 11px;
	height: 10px;
}

.sapUiDlgCloseBtn:hover,
.sapUiDlgCloseBtn:focus,
.sapUiDlgCloseBtn:active {
	background-image: url(img/dialog/DlgCloseHov.gif);
}

.sapUiDlgCont {
	background-color: @sapUiMediumBG;
	border-color: white; /* this is the second (inner) border line! */
	padding: 11px 18px;
	top: 26px;
	bottom: 37px;
}

.sapUiDlgNoButtons .sapUiDlgCont {
	bottom: 16px;
}

.sapUiDlgFlexHeight .sapUiDlgCont {
	margin: 0;
	left: 0;
}

.sapUiDlgContentBorderDesignBox .sapUiDlgCont {
	left: 1px;
	right: 1px;
	border: 1px solid #96A8C3;
	padding: 20px 15px 25px 20px;
	background-color: @sapUiExtraLightBG;
	margin: 4px 5px 3px;
}

.sapUiDlgFlexHeight.sapUiDlgContentBorderDesignBox .sapUiDlgCont {
	left: 0;
}

.sapUiDlgFooter {
	background-color: @sapUiMediumBG;
	border: 1px solid white;
	border-top-width: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 36px;
}

.sapUiDlgFlexHeight .sapUiDlgFooter {
	margin: 0;
}

.sapUiDlgNoButtons .sapUiDlgFooter {
	height: 15px;
}

.sapUiDlgBtns {
	padding: 4px 14px 12px 0px;
}

.sapUiDlgBtns > * {
	margin-left: 10px;
}

.sapUiDlgGrip {
	background-image: url(img/dialog/DlgGrip_GreyBG.gif);
	right: 1px;
	bottom: 1px;
}