.sapUiRb > input { /* make the real radiobutton vanish from the screen */
	position: absolute;
	visibility: hidden;
}

.sapUiRb > label { /* render an image as radiobutton replacement */
	background-image: url(img/radio.png);
	background-repeat: no-repeat;
	background-position: left 0px;
	padding-left: 21px;
}

.sapUiRb .sapUiRbNoText {
	padding-left: 13px;
}

.sapUiRbSel > label {
	background-position: left -26px;
}


/* hover */
.sapUiRbStd:hover > label,
.sapUiRbWarn:hover > label,
.sapUiRbErr:hover > label {
	background-position: left -52px;
}

.sapUiRbStd:hover.sapUiRbSel > label,
.sapUiRbWarn:hover.sapUiRbSel > label,
.sapUiRbErr:hover.sapUiRbSel > label {
	background-position: left -78px;
}

/* readonly */
.sapUiRbRo > label,
.sapUiRbRo:hover > label {
	background-position: left -156px;
}

.sapUiRbRo.sapUiRbSel > label,
.sapUiRbRo:hover.sapUiRbSel > label {
	background-position: left -182px;
}

/* disabled */
.sapUiRbDis > label,
.sapUiRbDis:hover > label{
	background-position: left -104px;
}

.sapUiRbDis.sapUiRbSel > label,
.sapUiRbDis:hover.sapUiRbSel > label{
	background-position: left -130px;
}

html[data-sap-ui-browser^="ie"] .sapUiRb:focus:after {
	border-color: @sapUiText;
}