/*!
 * SAP UI development toolkit for HTML5 (SAPUI5)
 *
 * (c) Copyright 2009-2016 SAP SE. All rights reserved
 */
/*!
 * SAP UI development toolkit for HTML5 (SAPUI5)
 *
 * (c) Copyright 2009-2016 SAP SE. All rights reserved
 */
/* =========================== */
/* Global CSS for 'base' theme */
/* =========================== */
/* =========================== */
/* Semantic Theming Mapping    */
/* =========================== */
/* ---------------------------------------------------------------------------------------- */
/* TMP during LESS convertion ---- to be deleted */
/* may be required by SubstitutionRulesManager.css in inbox lib */
/* ---------------------------------------------------------------------------------------- */
/**
  * This parameter is used in the Shell control to calculate the size when it grows.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE.
  */
/**
  * This parameter is used in the Shell control to calculate the size of the margin when showing
  * an overflow button in the right pane. As of 1.18.0 this value contains the _maximum_ height
  * of the overflow button, if the text inside the button is smaller, the button shrinks with it.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE.
  */
/* Approved by UX to use a hard coded color value for this */
/* NotificationBar */
/* The maximized height will be calculated corresponding to the window's height.*/
/* ToolPopup */
/* Telling the ToolPopup if it's inverted per default */
/* transparent; */
/* Default margins classes to be used by the application for all controls */
/*make tiny margin themable*/
/*make small margin themable*/
/*make medium margin themable*/
/*make large margin themable*/
/*
 * This is a mixin for creating the predefined container content padding
 * classes:
 * sapUiNoContainerContentPadding
 * sapUiContainerContentPadding
 * sapUiResponsiveContainerContentPadding
 * These classes can be set on many UI5 containers and will
 * add padding inside the container's content padding based
 * on the selectors that are arguments for this mixin.
 *
 * Arguments to this function-like mixin are the rootClass selector and
 * the content selector where the padding should be applied.
 */
/*
  * the sapLess-parser has problems with an escaped string as default value for the parameterized mixin
  * therefore we need to temporarily use a parameter assigning the default value
  */
/* This CSS shares its rules with all other CSS of this library */
/* ===================================== */
/* Quick Theming                         */
/* ===================================== */
/*
 UX COLOR SET
*/
/* ACCENT COLORS */
/* Shadows */
/* SPECIAL COLORS */
/* Grayscale Backgrounds */
/* Grayscale Borders */
/* Grayscale Text */
/* Semantic Background Colors */
/* Semantic Border Colors */
/* Semantic Foreground Elements */
/* Semantic Text */
/* Semantic Foreground Colors */
/* ===================================== */
/* Expert Theming                        */
/* ===================================== */
/* ====================================== */
/* Global CSS for 'sap_bluecrystal' theme */
/* ====================================== */
/* ===================================== */
/* Semantic Theming Mapping              */
/* ===================================== */
/* ========================================================== */
/* Quick Theming (these Parameters can be linked in controls) */
/* ========================================================== */
/* ============================================================== */
/* Expert Theming (these Parameters should be linked in controls) */
/* ============================================================== */
/* ========================= */
/* FOCUS COLORS              */
/* ========================= */
/* ===================================== */
/* FOREGROUND ELEMENT COLORS             */
/* ===================================== */
/* General Foreground Elements           */
/* ============================================ */
/* UX Reference Set - do not use in Controls!!  */
/* ============================================ */
/* ===================================== */
/* Accent Colors                         */
/* ===================================== */
/* ===================================== */
/* EFFECT COLORS                         */
/* ===================================== */
/* ===================================== */
/* Special Colors                        */
/* ===================================== */
/* ===================================== */
/* Background Colors                     */
/* ===================================== */
/* Grayscale Backgrounds                 */
/* ===================================== */
/* Border Colors                         */
/* ===================================== */
/* Grayscale Borders                     */
/* ===================================== */
/* Font Colors                           */
/* ===================================== */
/* Grayscale Text                        */
/* ===================================== */
/* Semantic Colors                       */
/* ===================================== */
/* Semantic Background Colors            */
/* Semantic Border Colors                */
/* Semantic Foreground Elements          */
/* Semantic Text                         */
/* ======================================================= */
/* Semantic Foreground Colors - do not use in Controls!!   */
/* ======================================================= */
/* ================================================== */
/* Absolute fixed Colors - do not use in Controls!!   */
/* ================================================== */
/* ==================================================== */
/* indirect Quick Parameters - do not use in Controls!! */
/* ==================================================== */
/* ================================================= */
/* additional Parameters - do not use in Controls!!  */
/* ================================================= */
/* Tinted Backgrounds                    */
/* Button Background Colors              */
/* Transparent Backgrounds               */
/* Hyperlinks                            */
/* Line Colors                           */
/* Table Colors                          */
/* ===================================== */
/* HOVER COLORS             */
/* ===================================== */
/* ===================================== */
/* Font                                  */
/* ===================================== */
/*Please also note the mixins in shared.css which deal with the following background parameters*/
/* ===================================== */
/* Desktop                               */
/* ===================================== */
/* Color used to show keyboard focus on an element (usually as outline) */
/* =============================================== */
/* SOME important control-specific parameters...   */
/* Derived from Expert Theming                     */
/* (these Parameters should be linked in controls) */
/* =============================================== */
/* Derived Chart Colors */
/* Shell */
/* Approved by UX to use a hard coded color value for this */
/* Exact */
/* Notification Bar */
/* ToolPopup */
/* Telling the ToolPopup if it's inverted per default */
/* Callout */
/* ==========================================*/
/* Legacy Section - do not use in Controls!! */
/* ==========================================*/
/* ActionSheet                 */
/* Bar                         */
/* Busy Indicator              */
/* BusyDialog              */
/* --------------------------- */
/* Button                START */
/* --------------------------- */
/* fade(@sapUiDarkText, 50%); */
/* --------------------------- */
/* Button                  END */
/* --------------------------- */
/* --------------------------- */
/* ToggleButton          START */
/* --------------------------- */
/* --------------------------- */
/* ToggleButton            END */
/* --------------------------- */
/* CheckBox                     */
/* DateTimeInput Custom Picker JavaScript	  */
/* mixed, scroller, clickpick */
/* mixed, scroller, clickpick */
/* modal, bubble, bottom, top */
/* modal, bubble, bottom, top */
/* DateTimeInput Custom Picker Design	  	*/
/* IconTabBar			*/
/* Input/SearchField           */
/* Label           */
/* List                        */
/* List as Table               */
/* ListItemBase                */
/* ActionListItem               */
/* MessageToast                 */
/* Page                        */
/* Panel                  */
/* Popover                */
/* Popups - shared parameters */
/* PullToRefresh */
/* RadioButton                 */
/* Scrollbar */
/* SegmentedButton                */
/* Select                       */
/* SelectList                    */
/* ComboBox */
/* Shell                        */
/* Slider                       */
/* SplitContainer */
/* StandardListItem                */
/* Switch                       */
/* RatingIndicator                 */
/* Toolbar 				*/
/* FeedInput                    */
/* OverlapCalendar Event Type */
/* Calendar Legend */
/* Tab Container */
/* This CSS inherits rules from default/shared.css */
/* Desktop & Tablet ----------- */
.sapClbNotifCursorPointer {
  cursor: pointer;
}
.sapUiMedia-Std-Desktop .sapClbNotifComponent,
.sapUiMedia-Std-Tablet .sapClbNotifComponent {
  width: 23.5rem;
  height: 11rem;
  background-color: #FFFFFF;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.sapUiMedia-Std-Desktop .sapClbNotifContainerBox,
.sapUiMedia-Std-Tablet .sapClbNotifContainerBox {
  width: 23.5rem;
  height: 11rem;
  background-color: #FFFFFF;
  position: relative;
}
/* This is a weird CSS style class. To get the loading animation of the tile to
   display correctly, the UI5 sap.m.Text control we use to display the loading
   animation must contain some text. However, we don't want the text to be visible.
   Therefore, this CSS class makes the text white so that it blends with the background
   color and is invisible to the user. */
.sapUiMedia-Std-Desktop .sapClbNotifLoadingText,
.sapUiMedia-Std-Tablet .sapClbNotifLoadingText {
  position: relative;
  color: white;
  font-size: 0.5em;
}
/* This class defines the styles for error messages displayed to users.
   The @sapUiNegative LESS variable is specified in the following 2 locations.
   1) "Tiles" page (https://wiki.wdf.sap.corp/wiki/display/fioridesign/Tiles)
   2) "Colors" page (https://wiki.wdf.sap.corp/wiki/display/visualcore/Colors)
      under the "Semantic Text" subsection under the "Font Colors" section.
   The remainder of the styles come from the UX team who designed the tile,
   with the exception of the width, which was obtained by experimenting with
   the width in the browser. */
.sapUiMedia-Std-Desktop .sapClbNotifErrorText,
.sapUiMedia-Std-Tablet .sapClbNotifErrorText {
  font-size: 0.875rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #cc1919;
  width: 430px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sapUiMedia-Std-Desktop .sapClbNotifProfileImage,
.sapUiMedia-Std-Tablet .sapClbNotifProfileImage {
  width: 3.75rem;
  height: 3.75rem;
  border-style: solid;
  border-color: #e5e5e5;
  border-width: 1px;
  position: absolute;
  left: 0.5rem;
  /* 16 for the padding and 1 px for the container box border*/
  top: 0.5rem;
  /* 16 for the padding and 1 px for the container box border*/
}
.sapUiMedia-Std-Desktop .sapClbNotifProfileImageHidden,
.sapUiMedia-Std-Tablet .sapClbNotifProfileImageHidden {
  visibility: hidden;
}
.sapUiMedia-Std-Desktop .sapClbNotifNotificationTypeText,
.sapUiMedia-Std-Tablet .sapClbNotifNotificationTypeText {
  font-size: 0.875rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #333333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 1rem;
  /* This magic number was discovered through experimentation. */
  position: absolute;
  top: 0.5rem;
  left: 4.75rem;
  right: 0.5rem;
}
.sapUiMedia-Std-Desktop .sapClbNotifNotificationMessageText,
.sapUiMedia-Std-Tablet .sapClbNotifNotificationMessageText {
  font-size: 0.875rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #333333;
  overflow: hidden;
  height: 5rem;
  /* This magic number was discovered through experimentation. */
  position: absolute;
  top: 2rem;
  right: 0.5rem;
  left: 4.75rem;
}
.sapUiMedia-Std-Desktop .sapClbNotifNotificationUnreadCountText,
.sapUiMedia-Std-Tablet .sapClbNotifNotificationUnreadCountText {
  font-size: 56px;
  font-family: arial;
  font-weight: bold;
  color: #666666;
  width: 128px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sapUiMedia-Std-Desktop .sapClbNotifNewNotificationText,
.sapUiMedia-Std-Tablet .sapClbNotifNewNotificationText {
  font-size: 0.875rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #333333;
  width: 128px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sapUiMedia-Std-Desktop .sapClbNotifNotificationAgeAndGroupText,
.sapUiMedia-Std-Tablet .sapClbNotifNotificationAgeAndGroupText {
  font-size: 0.875rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #333333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 14rem;
}
.sapUiMedia-Std-Desktop .sapClbNotifNotificationAgeAndGroupContainer,
.sapUiMedia-Std-Tablet .sapClbNotifNotificationAgeAndGroupContainer {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 14rem;
}
.sapUiMedia-Std-Desktop .sapClbNotifNotificationUnreadContainer,
.sapUiMedia-Std-Tablet .sapClbNotifNotificationUnreadContainer {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  width: 128px;
}
/* Smartphones ----------- */
.sapUiMedia-Std-Phone .sapClbNotifComponent {
  width: 304px;
  height: 142px;
  background-color: #FFFFFF;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.sapUiMedia-Std-Phone .sapClbNotifContainerBox {
  width: 304px;
  height: 142px;
  background-color: #FFFFFF;
  position: relative;
}
/* This is a weird CSS style class. To get the loading animation of the tile to
   display correctly, the UI5 sap.m.Text control we use to display the loading
   animation must contain some text. However, we don't want the text to be visible.
   Therefore, this CSS class makes the text white so that it blends with the background
   color and is invisible to the user. */
.sapUiMedia-Std-Phone .sapClbNotifLoadingText {
  position: relative;
  color: white;
  font-size: 0.5em;
}
/* This class defines the styles for error messages displayed to users.
   The @sapUiNegative LESS variable is specified in the following 2 locations.
   1) "Tiles" page (https://wiki.wdf.sap.corp/wiki/display/fioridesign/Tiles)
   2) "Colors" page (https://wiki.wdf.sap.corp/wiki/display/visualcore/Colors)
      under the "Semantic Text" subsection under the "Font Colors" section.
   The remainder of the styles come from the UX team who designed the tile,
   with the exception of the width, which was obtained my experimenting with
   the width in the browser. */
.sapUiMedia-Std-Phone .sapClbNotifErrorText {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #cc1919;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 275px;
}
.sapUiMedia-Std-Phone .sapClbNotifProfileImage {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: #e5e5e5;
  border-width: 1px;
  position: absolute;
  left: 11px;
  /* 10 for the padding and 1 px for the container box border*/
  top: 7px;
  /* 6 for the padding and 1 px for the container box border*/
}
.sapUiMedia-Std-Phone .sapClbNotifProfileImageHidden {
  visibility: hidden;
}
.sapUiMedia-Std-Phone .sapClbNotifNotificationTypeText {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #333333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 16px;
  /* This magic number was discovered through experimentation. */
  width: 230px;
  position: absolute;
  top: 7px;
  left: 63px;
}
.sapUiMedia-Std-Phone .sapClbNotifNotificationMessageText {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #333333;
  overflow: hidden;
  height: 62px;
  width: 230px;
  position: absolute;
  top: 27px;
  left: 63px;
}
.sapUiMedia-Std-Phone .sapClbNotifNotificationUnreadCountText {
  font-size: 32px;
  font-family: arial;
  font-weight: bold;
  color: #666666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
}
.sapUiMedia-Std-Phone .sapClbNotifNewNotificationText {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #333333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
}
.sapUiMedia-Std-Phone .sapClbNotifNotificationAgeAndGroupText {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #333333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 175px;
}
.sapUiMedia-Std-Phone .sapClbNotifNotificationAgeAndGroupContainer {
  position: absolute;
  bottom: 7px;
  right: 11px;
  width: 175px;
}
.sapUiMedia-Std-Phone .sapClbNotifNotificationUnreadContainer {
  position: absolute;
  bottom: 7px;
  left: 11px;
  width: 100px;
}
