/* =========================== */
/* Global CSS for 'base' theme */
/* =========================== */
/* =========================== */
/* Semantic Theming Mapping    */
/* =========================== */
/* ---------------------------------------------------------------------------------------- */
/* TMP during LESS convertion ---- to be deleted */
/* may be required by SubstitutionRulesManager.css in inbox lib */
/* ---------------------------------------------------------------------------------------- */
/**
  * This parameter is used in the Shell control to calculate the size when it grows.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE.
  */
/**
  * This parameter is used in the Shell control to calculate the size of the margin when showing
  * an overflow button in the right pane. As of 1.18.0 this value contains the _maximum_ height
  * of the overflow button, if the text inside the button is smaller, the button shrinks with it.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE.
  */
/* Approved by UX to use a hard coded color value for this */
/* NotificationBar */
/* The maximized height will be calculated corresponding to the window's height.*/
/* ToolPopup */
/* Telling the ToolPopup if it's inverted per default */
/* transparent; */
/* Default margins classes to be used by the application for all controls */
/*make tiny margin themable*/
/*make small margin themable*/
/*make medium margin themable*/
/*make large margin themable*/
/*
 * This is a mixin for creating the predefined container content padding
 * classes:
 * sapUiNoContainerContentPadding
 * sapUiContainerContentPadding
 * sapUiResponsiveContainerContentPadding
 * These classes can be set on many UI5 containers and will
 * add padding inside the container's content padding based
 * on the selectors that are arguments for this mixin.
 *
 * Arguments to this function-like mixin are the rootClass selector and
 * the content selector where the padding should be applied.
 */
/*
  * the sapLess-parser has problems with an escaped string as default value for the parameterized mixin
  * therefore we need to temporarily use a parameter assigning the default value
  */
/*
Parameter which stored a long css setting string for cvom's chart's internal use.
*/
.sapVizChart .v-m-title .v-title {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-subtitle {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-title {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-hidden-title {
  fill: #a6a6a6;
}
.sapVizChart .v-pie .v-donut-title {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-m-tooltip .v-body-title {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-label {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .viz-polar-axis-label {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-datalabel {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-m-tooltip .v-body-label {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-m-tooltip .v-body-value {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-m-tooltip .v-footer-label {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-m-tooltip .v-footer-value {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-m-tooltip .v-separationline {
  stroke: #fdc411;
}
.sapVizChart .v-background-body {
  fill: #f2f2f2;
}
.sapVizChart .v-background-border {
  stroke: #fcdab0;
}
.sapVizChart .v-hoverline {
  stroke: #000000;
}
.sapVizChart .v-hovershadow {
  fill: #737373;
}
.sapVizChart .v-hovershadow-mousedown {
  fill: #f0ab00;
}
.sapVizChart .v-m-tooltip .v-background {
  fill: #f2f2f2;
  stroke: #fdc411;
}
.sapVizChart .v-m-tooltip .v-closeButton {
  background-color: #f2f2f2 !important;
  border-color: #fdc411 !important;
}
.sapVizChart .v-background {
  border-color: #fdc411 !important;
}
.sapVizChart .v-innerwhisker {
  stroke: #000000;
}
.sapVizChart .v-categoryaxisline {
  stroke: #000000;
}
.sapVizChart .v-valueaxisline {
  stroke: #000000;
}
.sapVizChart .v-gridline {
  stroke: #fcdab0;
}
.sapVizChart .sapVizChart {
  position: relative;
}
.sapVizChart .sapVizChart.sapVizNoData {
  /*background-color: @sapUiLightBG;*/
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.sapVizChart .sapVizChart.sapVizNoData > .sapVizNoDataDefault {
  position: absolute;
  display: block;
  bottom: 50%;
  left: 0;
  right: 0;
  text-align: center;
  white-space: nowrap;
}
/*Below classes are moved from popover.css for theme designer*/
.viz-controls-chartPopover .viz-controls-chartPopover-dimension-label {
  font-weight: bold;
  color: #000000;
  font-size: 0.875rem;
}
.viz-controls-chartPopover .viz-controls-chartPopover-contentPanel .sapMLabel {
  font-size: 0.875rem;
  color: #000000;
}
.viz-controls-chartPopover .viz-controls-chartPopover-contentPanel .sapMText {
  font-size: 0.875rem;
  color: #000000;
}
.viz-controls-chartPopover .viz-controls-chartPopover-subActionItemsPage {
  background: #f2f2f2;
}
.viz-controls-chartPopover .viz-controls-chartPopover-vizSelectedBar {
  background: #f2f2f2;
}
.viz-controls-chartPopover .viz-controls-chartPopover-vizSelectedBar .sapMLabel {
  color: #000000;
}
.viz-controls-chartPopover {
  height: auto;
  font-size: 0.875rem;
}
.viz-controls-chartPopover .sapUiIcon {
  border: none;
}
.viz-controls-chartPopover .viz-controls-chartPopover-contentPanel {
  padding: 0.875rem 0.688rem 0.45rem 0.688rem;
  border-bottom: none;
}
.viz-controls-chartPopover .viz-controls-chartPopover-dimension-marker {
  line-height: 1.2rem;
  float: left;
}
.viz-controls-chartPopover .viz-controls-chartPopover-dimension-label {
  line-height: 1.2rem;
  padding-bottom: 0.225rem;
  padding-left: 0.688rem;
}
.viz-controls-chartPopover .viz-controls-chartPopover-vizSelectedBar {
  margin: 0 0.688rem;
  width: 92%;
  box-shadow: none;
}
.viz-controls-chartPopover .viz-controls-chartPopover-vizSelectedBarBorder {
  border-top: 1px rgba(153, 153, 153, 0.6) solid;
}
.viz-controls-chartPopover .viz-controls-chartPopover-actionList li:first-child {
  border-top: 1px #e5e5e5 solid;
}
.viz-controls-chartPopover .viz-controls-chartPopover-actionList div {
  font-size: 0.875rem;
}
.viz-controls-chartPopover .viz-controls-chartPopover-subActionItemsPage {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  left: 0px;
}
.viz-controls-chartPopover .viz-controls-chartPopover-subActionItemsPage div {
  font-size: 0.875rem;
}
.viz-controls-chartPopover .viz-controls-chartPopover-contentPanel .sapUiFormResGrid > div {
  padding: 0;
  background-color: inherit;
}
.viz-controls-chartPopover .sapUiRespGrid.sapUiRespGridHSpace1 {
  padding: 0 0 0 0.5rem;
}
.viz-controls-chartPopover .viz-controls-chartPopover-contentPanel .sapUiRespGridSpanL12 {
  margin: 0;
}
.viz-controls-chartPopover .viz-controls-chartPopover-contentPanel .sapUiRespGridSpanM12 {
  margin: 0;
}
.viz-controls-chartPopover .viz-controls-chartPopover-contentPanel .sapUiRespGridSpanS12 {
  margin: 0;
}
.viz-controls-chartPopover .viz-controls-chartPopover-contentPanel .viz-controls-chartPopover-Vlt .sapUiSimpleForm .viz-controls-chartPopover-measure-name {
  text-align: left!important;
}
.viz-controls-chartPopover .viz-controls-chartPopover-contentPanel .viz-controls-chartPopover-measure-labels.sapMLabel:after {
  content: '';
}
.viz-controls-chartPopover .sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace1 > .sapUiRespGridSpanM12:not(:first-child) {
  width: 100%;
}
.viz-controls-chartPopover .sapUiSimpleForm {
  padding-left: 0.625rem;
}
.viz-controls-chartPopover .viz-controls-chartPopover-measure-labels {
  line-height: 1rem;
  padding: 0.2rem 0;
}
.viz-controls-chartPopover .viz-controls-chartPopover-measure-labels-wrapper-name {
  padding-bottom: 0;
}
.viz-controls-chartPopover .viz-controls-chartPopover-measure-labels-wrapper-value {
  padding-top: 0;
}
.viz-controls-chartPopover .viz-controls-chartPopover-timeDayValue {
  margin-top: -0.3rem;
}
.viz-controls-chartPopover .viz-controls-chartPopover-timeDayDimValue {
  margin-top: -0.2rem;
}
html[dir=rtl] .viz-controls-chartPopover .viz-controls-chartPopover-contentPanel .viz-controls-chartPopover-Vlt .sapUiSimpleForm .viz-controls-chartPopover-measure-name {
  text-align: right!important;
}
/* transparent; */
/* transparent; */
/* transparent; */
/* Global CSS for 'sap_goldreflection' theme */
/* ---------------------------------------------------------------------------------------- */
/* ===================================== */
/* Chart Colors                         */
/* ===================================== */
/* Semantic Chart Colors */
/* Note Explicit UX decision not to derive from @sapUiCritical, ... */
/* Accent Chart Colors */
/* Sequential Chart Colors */
/* Derived Chart Colors */
/* Shell */
/* Exact */
/* Approved by UX to use a hard coded color value for this */
/* Crystal Blue value set by UX: */
/* NotificationBar */
/* The maximized height will be calculated corresponding to the window's height.*/
/* ToolPopup */
/* transparent; */
