
/* ============================================= */
/* CSS for control sap.ui.comp/GroupElement.control */
/* ============================================= */

.sapUiCompGroupElement{
  color: @sapUiTextColor;
  border: 1px solid blue;
}

.sapUiCompGroupElementVBox{
	margin-bottom: 1rem;
}