
/* ============================================= */
/* CSS for control sap.ui.comp/VariantManagement.control */
/* ============================================= */
.sapUiCompVarMngmt {
	display: inline
}
.sapUiCompVarMngmt .sapMLabelMaxWidth {
	max-width:25rem;
}
.sapUiCompVarMngmt .sapUICompVarMngmtTextMaxWidth.sapMLabelMaxWidth {
	max-width: 5rem;
}

.sapUiCompVarMngmt .sapUICompVarMngmtText {
	padding-top: 0.9rem;
	margin-right: 0.125rem;
}
.sapUiSizeCompact .sapUiCompVarMngmt .sapUICompVarMngmtText {
	padding-top: 0.4rem;
}
.sapUiCompVarMngmt .sapUICompVarMngmtModified {
	margin-left: 0.2rem;
}
.sapUiCompVarMngmt .sapUICompVarMngmtEnabled {
	cursor: pointer;
}
.sapUiCompVarMngmt .sapUICompVarMngmtDisabled {
	cursor: default;
	opacity: 0.5;
}
.sapUICompVarMngmtLbl {
	padding-left: 0.5rem;
}
.sapUiMedia-Std-Phone .sapUICompVarMngmtLbl {
	padding-left: 0rem;
}
 .sapUiMedia-Std-Phone .sapUiSizeCompact .sapUICompVarMngmtLbl {
	padding-left: 0rem;
}
.sapUICompVarMngmtPopover .sapMSelectList {
	border: 0rem solid;
}

.sapUiCompFilterBar .sapUiSizeCondensed .sapUICompVarMngmtTriggerBtn.sapMBtn {
	height: 3rem;
}

.sapUiSizeCondensed .sapUICompVarMngmtTriggerBtn.sapMBtn {
	height: 2rem;
}