/*!
 * SAP UI development toolkit for HTML5 (SAPUI5)

(c) Copyright 2009-2016 SAP SE. All rights reserved
 */
/* =========================== */
/* Global CSS for 'base' theme */
/* =========================== */
/* =========================== */
/* Semantic Theming Mapping    */
/* =========================== */
/* ---------------------------------------------------------------------------------------- */
/* TMP during LESS convertion ---- to be deleted */
/* may be required by SubstitutionRulesManager.css in inbox lib */
/* ---------------------------------------------------------------------------------------- */
/**
  * This parameter is used in the Shell control to calculate the size when it grows.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE.
  */
/**
  * This parameter is used in the Shell control to calculate the size of the margin when showing
  * an overflow button in the right pane. As of 1.18.0 this value contains the _maximum_ height
  * of the overflow button, if the text inside the button is smaller, the button shrinks with it.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE.
  */
/* Approved by UX to use a hard coded color value for this */
/* NotificationBar */
/* The maximized height will be calculated corresponding to the window's height.*/
/* ToolPopup */
/* Telling the ToolPopup if it's inverted per default */
/* transparent; */
/* Default margins classes to be used by the application for all controls */
/*make tiny margin themable*/
/*make small margin themable*/
/*make medium margin themable*/
/*make large margin themable*/
/*
 * This is a mixin for creating the predefined container content padding
 * classes:
 * sapUiNoContainerContentPadding
 * sapUiContainerContentPadding
 * sapUiResponsiveContainerContentPadding
 * These classes can be set on many UI5 containers and will
 * add padding inside the container's content padding based
 * on the selectors that are arguments for this mixin.
 *
 * Arguments to this function-like mixin are the rootClass selector and
 * the content selector where the padding should be applied.
 */
/*
  * the sapLess-parser has problems with an escaped string as default value for the parameterized mixin
  * therefore we need to temporarily use a parameter assigning the default value
  */
.defaultSkin {
  color: #000000;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
.sapUiRTE {
  display: inline-block;
}
html[dir=rtl] .sapUiRTE .defaultSkin table {
  direction: rtl;
}
/* Styling TinyMCE */
.sapUiRTE .defaultSkin table.mceToolbar {
  margin-right: 5px;
}
.sapUiRTE.sapUiRTELegacyTheme .defaultSkin .mceIcon,
.sapUiRTE.sapUiRTELegacyTheme .defaultSkin .mceSplitButton span.mceAction {
  background-image: url("icons.png");
}
/* bugfix for IE8 with certain zoom factors */
html[data-sap-ui-browser="ie8"] .sapUiRTE .defaultSkin .mceIcon.mce_undo {
  width: 19px;
  margin-left: 1px;
}
.sapUiRTE .defaultSkin table.mceLayout tr.mceFirst > td.mceFirst {
  background-color: #ffffff;
  border-top: 1px solid #000000;
}
.sapUiRTE .defaultSkin td.mceIframeContainer {
  border-top: 1px solid #000000;
}
.sapUiRTE .defaultSkin.mceEditor table.mceLayout {
  border-color: #000000;
}
.sapUiRTE .defaultSkin table.mceLayout tr.mceLast td.mceLast {
  border-bottom: 1px solid #000000;
}
.sapUiRTE .defaultSkin table.mceLayout tr.mceFirst td,
.sapUiRTE .defaultSkin table {
  background-color: transparent;
}
